#stil {
  margin-top: 30px;
  // transform: translateX(50px);
  .flex {
    display: flex;
    overflow-x: auto;
   
    

    .icon {
      // position:relative;
      // top: -280px;
      // left: 260px;

      svg{
        position:relative;
       top: -280px;
       left: 260px;
      z-index: 2;
      
      }
      

      svg :hover{
       fill: black;
       
     
      
      }
    
      }
     }
    }

    .img{
      position: relative;
      
    }
  
   
     img {
    margin: 10px;
   
    
   
   

       &:hover{
        border: 1px solid black;
            }
    }
  
   h3 {
    font-size: 40px;
    font-weight: bolder;
    padding: 0 40px;
  }

