@import "./layout/header";
@import "./partial/index/stil";
@import "./partial/index/buttons";
@import "./partial/index/sneakers";
@import "./partial/index/content";
@import "./partial/index/popular";
@import "./partial/index/summer";
@import "./partial/index/text";
@import "./partial/index/products";
@import "./layout/footer";




.container{
    width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width: calc(100% /12 * 1);
}

.col-2{
    width: calc(100% /12 * 2);
    
}

.col-3{
    width: calc(100% /12 * 3);
    
}

.col-4{
    width: calc(100% /12 * 4);
   
}

.col-5{
    width: calc(100% /12 * 5);
   
}

.col-6{
    width: calc(100% /12 * 6);
    
}

.col-7{
    width: calc(100% /12 * 7);
    
}

.col-8{
    width: calc(100% /12 * 8);
   
}

.col-9{
    width: calc(100% /12 * 9);
   
}

.col-10{
    width: calc(100% /12 * 10);
    
}

.col-11{
    width: calc(100% /12 * 11);
    
}

.col-12{
    width: calc(100% /12 * 12);

}


@media (min-width: 576px) {
    .container {
     max-width: 540px;
   }
 }
 @media (min-width: 768px) {
    .container {
     max-width: 720px;
   }
 }
 @media (min-width: 992px) {
   .container {
     max-width: 960px;
   }
 }
 @media (min-width: 1200px) {
   .container {
     max-width: 1140px;
   }
 }
 @media (min-width: 1400px) {
.container {
     max-width: 1320px;
   }
 }


